__pycache__/
*.py[cod]
*$*
*.crdownload
*.doc
*.docx
~$*
.env
.venv
env/
venv/
bin/
lib/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
